/* src/components/About.module.css */
.aboutContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
  transition: background-color 0.3s ease;
}

.panelsContainer {
  width: 200%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

/* This is the general style for BOTH panels. No centering here. */
.panel {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

/* This style applies ONLY to the chart panel to center it. */
.chartPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This is the container for the timeline content inside the first panel. */
.timelineWrapper {
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  margin: 0 auto; /* Center the timeline content horizontally */
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.timelineWrapper::-webkit-scrollbar {
  display: none;
}

.panelHeading {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  margin-bottom: 2rem; /* Add space between heading and timeline */
  background-color: var(--bg-color);
  z-index: 10;
  font-size: 2.5rem;
  color: var(--primary-color);
  text-align: center;
  width: 100%;
  transition: background-color 0.3s ease;
}